<div style="background: lightgrey; width: 300px; padding: 10px;">
  <br>
  <%= turbo_frame_tag :post_form do %>
  <%= post.body %>
  <%= button_to "likes (#{post.likes || 0})", post_path(post, like: true), method: :put %>
    <%#= render 'posts/form', post: @post %>
    <%= link_to :edit, edit_post_path(post) %>
  <% end %>
</div>
<br>


